<footer >
  <div id="footer" class="pb-4 pt-4" class="container-fluid ">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 ">
        <img src="assets/img/Iush.jpg" alt="Iush" class="figure-img img-fluid rounded mt-2">
        <figcaption class="figure-caption mb-2">Representante del semillero, Docente Jairo Ramirez.</figcaption>
      </div>

      <div class="col-12 col-md-6 col-lg-4 description" >
          <p class="titulo ">Institución Universitaria Salazar y Herrera</p>

          <p class="contenido ">Dirección : CR 70 # 52-49 (Campus Estadio).</p>

          <p class="contenido ">Línea de Atención al Cliente (+57) (4) 4 600 700 opción 1 </p>
          <p class="titulo mt-2 ">Redes Sociales</p>

          <a target="_blank" class="social-link twitter" href="https://twitter.com/_IUSH"></a>

          <a class="social-link facebook" target="_blank" href="https://www.facebook.com/IUSHoficial/?__tn__=%2Cd%3C-R&eid=ARDq6R9kb4l0gnhi3_6ZxPLUZ-tgeYtvsaC1_htCWAl8upyKNb7SOpHJLNG7YocUbT09l2PNGToBcP64">
          </a>
          <a class="social-link instagram" target="_blank" href="#" ></a>
      </div>

      <div class="col-12 col-md-12 col-lg-4 mt-2 mb-2 " >
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7932.08718520784!2d-75.59523195909291!3d6.257988204385791!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44291aa3800d7d%3A0x9627605ec57e7fac!2sInstituci%C3%B3n+Universitaria+Salazar+y+Herrera+-+IUSH!5e0!3m2!1ses-419!2sco!4v1563847852771!5m2!1ses-419!2sco" width="80%"  height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</footer>
