<footer id="footer" class="pb-4 pt-4">
<div id="links" class="container">
<div class="row text-center">
  <div class="col-12 col-lg">
    <a href="/home">Iush Medellin</a>
  </div>
  <div class="col-12l col-lg">
      <a href="/home">Contactenos</a>
    </div>
    <div class="col-12l col-lg">
        <a href="/home">Correo</a>
      </div>
</div>
<div class="row text-center">
   
    <div  class="col-12 col-lg">
        <a href="/home">Redes sociales</a>
      </div>
      <div class="col-12 col-lg">
          <a href="/home">Telefono</a>
        </div>
        <div class="col-12 col-lg">
            <a href="/home">Direccion</a>
          </div>
</div>
</div>
</footer>
