#footer{
    background-color:#1e5372;
}

 p,.figure-caption{
    color: white;
}

#links  a{
    color: rgb(99, 153, 17);
}

.description .titulo {
    font-size: 20px;
    color: white;
}

.description .contenido {
    font-size: 12px;
    color: white;
}

 .form-group label {
    color: white;
}





