#header img{
    object-fit: fill;
    width: 50px;
    height: 40px;

}

#header{
    width: 100%; 
    background-color: white;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.64);
}

#header .container a{
    color:black;
}

#dropdownmenu .dropdown-item{
    color:black !important;

}

@media (max-width: 575.98px) { 
    #header{
       
        background-color:rgba(0,0,0,0.2);
        /* text-align: center; */
    }
    
}
  
