<nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div  class="container">
    <a routerLink="/home">
    <img src="assets/img/sisasnegro.png" alt="logo-sisas">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto" >
        <li  class="nav-item dropdown ">
          <a  class="nav-link dropdown-toggle Tipoletra" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SEMILLERO
          </a>
            <div id="dropdownmenu"  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/lineasp">Lineas de Profundizacion</a>
              <a class="dropdown-item" routerLink="/resenahistorica">Reseña Historica De Proyectos</a>
             
              <a class="dropdown-item" routerLink="/integrantes">Integrantes(CVLAC)</a>
              <a class="dropdown-item" routerLink="/proyectos">Proyectos realizados</a>
              <a class="dropdown-item" routerLink="/requisitos">Requisitos integrantes</a>
              <a class="dropdown-item" href="#">Proceso de selección</a>
              <a class="dropdown-item" href="#">Registro fotografico</a>
              <a class="dropdown-item" href="#">Grupo LAC</a>
              <a class="dropdown-item" href="#">Informes</a>
            </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PROYECTOS
          </a>
            <div id="dropdownmenu" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/header">Registro de proyectos</a>
              <a class="dropdown-item" href="#">Seguimiento</a>
            </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PRODUCTOS
          </a>
            <div id="dropdownmenu" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/header">Publicaciones</a>
              <a class="dropdown-item" href="#">Participación en eventos</a>
            </div>
        </li>
        <li class="nav-item dropdown pr-5">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            FORMACION
          </a>
            <div id="dropdownmenu" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Logica y algortimos</a>
              <a class="dropdown-item" href="#">Nuevos</a>
              <a class="dropdown-item" href="#">Interna</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-sm btn-outline-secondary" routerLink="/login">LOGIN</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



 <!-- <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ml-auto" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav> -->
