#header img{
 
    object-fit: fill;
    width: 50px;
    height: 40px;

}

#header{
    position: absolute;
    z-index: 2;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.00);
}

#header .container a{
    color:white;
}