<app-header></app-header>
<div class="container mt-4 mb-4 " id="lineasp">
    <div class="row">
        <div class="col-12"  >
                <h1>Linea de investigación</h1>
                <h5>La línea de programación, inicialmente, permeará conceptos básicos de:</h5>
                
                
                <ul>
                    <li>
                        <h5>Lógica de Programación y Algoritmos.</h5> 
                    </li>
                    <li id="sinEstilo">
                        <img id="cust" src="assets/img/PseInt.png" alt="">
                        <img id="cust" src="assets/img/Pseudocodigo.png" alt="">
                    </li> 
                </ul>

                <ul>
                    <li>
                        <h5>Programación Orientada a la Web (Java y Python).</h5> 
                    </li>
                    <li id="sinEstilo">
                        <img id="cust" src="assets/img/java.png" alt="">
                        <img id="cust" src="assets/img/Python.png" alt="">
                    </li> 
                </ul>
                
                <ul>
                    <li>
                        <h5>Programación Orientado a Objetos (Java, Python y C#).</h5> 
                    </li>
                    <li id="sinEstilo">
                        <img id="cust" src="assets/img/java.png" alt="">
                        <img id="cust" src="assets/img/Python.png" alt="">
                        <img id="cust" src="assets/img/cnet.png" alt="">
                    </li> 
                </ul>
                
                <ul>
                    <li>
                        <h5>Programación para Dispositivos Móviles (Java y Android Studio).</h5> 
                    </li>
                    <li id="sinEstilo">
                        <img id="cust" src="assets/img/java.png" alt="">
                        <img id="cust" src="assets/img/android.png" alt="">
                    </li> 
                </ul>
                
                <ul>
                    <li>
                        <h5>Asesorías Lógica (Seudocódigo, PseInt y LPP).</h5> 
                    </li>
                    <li id="sinEstilo">
                        <img id="cust" src="assets/img/PseInt.png" alt="">
                        <img id="cust" src="assets/img/Pseudocodigo.png" alt="">
                    </li> 
                </ul>
                
                <ul>
                    <li>
                        <h5>Programación en VBA (Macros-Excel) y Bases de datos.</h5> 
                    </li>
                    <li id="sinEstilo">
                        <img id="cust" src="assets/img/VB.jpg" alt="">
                        <img id="cust" src="assets/img/BD.png" alt="">
                    </li> 
                </ul>
        </div>
    </div>
</div>
<app-footer class="footer"></app-footer>

