<section animated fadeIn faster>
    <div class="row mt-3">
        <div class="col text-center">
            <h1>Linea de investigación</h1>
            <h5>La línea de programación, inicialmente, permeará conceptos básicos de:</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mt-3" *ngFor="let lineas of lineasp">
            <div class="card animated flipInY slow"  >
                <div class="card-body">
                    <h5 class="font-weight-bolder ">{{lineas.titulo}}</h5>
                    <img src="{{lineas.img}}" class="center" alt="..." >
                    
                    <p class="font-italic mt-3">La lógica es la base de todo el conocimiento en programación</p>
                </div>
            </div>
        </div>
    </div>
</section>
