#carouselIush img{
	height: 500px;
	/* max-height: 60vh; */
}


@media (max-width: 575.98px) { 
    #carouselIush img{
		height: 250px;
		/* max-height: 60vh; */
	}

}

.irArriba{
	display: none ;
	width: 43px; 
	height: 43px; 
	border:  solid #1e5372;
	background: #1e5372;
	position: fixed;
	border-radius: 25px;
	z-index:10;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.64);
	bottom:80px;
	right:18px;
	cursor: pointer;
	color: white;
	text-align: center;
}


.whatsapp{
	color:009695;
	width: 50px; 
	height: 50px; 
	background-color: rgba(0, 0, 0, 0);
	position: fixed;
	border-radius: 25px;
	margin-top:15px;
	z-index:10000;
	bottom:15px;
	right:22px;
}

.social-link{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    display: inline-block;
    background-size: 50px 50px;
}

.social-link.whatsApp{
    background-image: url("src/assets/img/whatsApp.png"); 
}


.inner{
	overflow: hidden;
	border-top-left-radius:5%;
	border-top-right-radius: 5%;
}

.inner img {
	transition: all 1.5s ease;
	height: 250px;
	border-top-left-radius:5%;
	border-top-right-radius: 5%;
}

.inner:hover img {
	transform: scale(1.5);
	border-top-left-radius:5%;
	border-top-right-radius: 5%;
}

#noticiasIush .card{
	border-radius: 5%;
	height: 500px;
}


