#home .carousel-inner img{
height: 600px;
object-fit: fill;
filter: grayscale(40%);
}
/* posicion relativa para texto */
#carouselExampleControls{
position: relative;
}

#carouselExampleControls .overlay{
/* sobre escribir texto en imagenes y  response */
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.4);
color: white;
}

#carouselExampleControls .overlay .container,
#carouselExampleControls .overlay .row  {
    height: 100%;
}

