<app-header></app-header>

<br>

<div class="card ml-2 mr-2 float-left" style="width: 18rem;">
    <img src="assets\img\Juan_Cano.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Juan Esteban Cano</h5>
      <p class="card-text">hola mundo !!</p>
    </div>
  </div>


  <div class="card ml-2 mr-2 float-left " style="width: 18rem;">
    <img src="assets\img\Cristian_Abraham.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cristian Abraham</h5>
      <p class="card-text">hola mundo !!</p>
    </div>
  </div>

  <div class="card  ml-2 mr-2 float-left " style="width: 18rem;">
    <img src="assets\img\Felipe_Restrepo.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Felipe Restrepo</h5>
      <p class="card-text">hola mundo !!</p>
    </div>
  </div>

  <div class="card ml-2 mr-2 float-left" style="width: 18rem;">
    <img src="assets\img\Andres_Marin.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Andres Marín</h5>
      <p class="card-text">hola mundo !!</p>
    </div>
  </div>

