<h1>Integrantes <small> Semillero iush</small></h1>
<hr>

<div class="card-columns animated fadeInLeftBig slow">
  <div class="card " *ngFor="let integrantes of Integrantes" >
    <img src="{{integrantes.file}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{integrantes.nombre}}</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
  








