<h1>Formulario</h1>
<hr>
<div class="row animated fadeIn faster">
    <div class="col text-right">
        <button routerLink="/requisitos"
        class="btn btn-danger">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar( f )"
                #f="ngForm">
            <div class="form-group">
                <label >Usuario ID</label>
                <input  type="text"
                        class="form-control"
                        placeholder="Usuario id"
                        disabled="disabled"
                        name="id"
                        [(ngModel)]="requisitos.id">
                <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>

            <div class="form-group">
                <label >Nombre</label>
                <input  type="text"
                        class="form-control"
                        placeholder="Nombre"
                        name="nombre"
                        [(ngModel)]="requisitos.nombre"
                        required>
            </div>

            <div class="form-group">
                <label >Apellido</label>
                <input  type="text"
                        class="form-control"
                        placeholder="Apellido"
                        name="apellido"
                        [(ngModel)]="requisitos.apellido"
                        required>
            </div>

            <div class="form-group">
                <label >Correo</label>
                <input  type="text"
                        class="form-control"
                        placeholder="Correo @"
                        name="correo"
                        [(ngModel)]="requisitos.correo"
                        required>
            </div>

            <div class="form-group">
                <label >Proyectos actuales</label>
                <select name="Proyectos"  
                        class="form-control"
                        [(ngModel)]="requisitos.proyectos">
                    <option selected>Seleccione</option>
                    <option value="Pagina web">Pagina web</option>
                    <option value="Asistencia sistematizada">Asistencia sistematizada</option>
                    <option value="Cuadro de turnos">Cuadro de turnos</option>
                </select>
            </div>
            <div class="form-group">
                <label >Codigo Iush</label>
                <input  type="text"
                        class="form-control"
                        placeholder="Codigo Iush"
                        name="codigoiush"
                        [(ngModel)]="requisitos.codigoIush"
                        required>
            </div>
            
            <hr>

            <div class="form-group text-center">
                <button type="submit"
                        class="btn btn-primary w-25">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
            
        </form>
    </div>
</div>

